<main>

  <hr class="line2">
  <p class="logo">EduShare</p>
  <p class="CalculusQuiz">CalculusQuiz</p>
  <p  class="search">Search</p>
  <p class="select">Select the best answer</p>
  <p class="subjects">Your Subjects</p>
  <p class="math">Math</p>
  <p class="chemistry">Chemistry</p>
  <p class="physics">Physics</p>
  <p class="quiz">Your Quizes</p>
  <p class="quizes-done">No quizes sat yet</p>
  <p class="question">Differentiate x5 with respect to x.</p>
  <svg class="elipse3" >
    <ellipse ></ellipse>
  </svg>
  <svg class="elipse4" >
    <ellipse ></ellipse>
  </svg>
  <svg class="elipse5" >
    <ellipse ></ellipse>
  </svg>
  <p class="choice1">y = x5</p>
  <p class="choice2">y = 4x5</p>
  <p class="choice3">y = 5x4</p>


</main>
