<div class="body">
  <div class="image"></div>
  <span class="logo">EduShare</span>
  <span class="sign-up">Sign up</span>


  <form action="">
    <div class="name field">
      <label for="name">
        <span class="label">Your Name</span>
      </label>
      <input type="text" id='name' name='name' aria-labelledby="name" placeholder="Harry Porter">
    </div>

    <div class="email field">
      <label for="email">
        <span class="label">Email</span>
      </label>
      <input type="text" id="email" name='email' aria-labelledby="email" placeholder="someone@provider.com">
    </div>
    <div class="password field">
      <label for="password">
        <span class="label">Create password</span>
      </label>
      <input type="password" id='password' name='password' aria-labelledby="password" placeholder="don't tell anyone">
    </div>
    <div class="institution field">
      <label for="school">
        <span class="label">Institution</span>
      </label>
      <input type="text" id='school' name='school' aria-labelledby="school" placeholder="Hogwarts School of Wizardry">
    </div>
    <div class="subjects field">
      <label for="subjects">
        <span class="label">Subjects</span>
      </label>
      <input type="text" id='subjects' name='subjects' aria-labelledby="subjects"
        placeholder="Subject 1, Subject 2, Subject 3">
    </div>


    <button class="field">
      <span class="button-text">Create Account</span>
    </button>

  </form>

</div>