main{
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #E5EAEE;
  border-radius: 33px;
}

.line2{
  position: absolute;
  width: 207px;
  height: 0px;
  left: 1147px;
  top: 190px;

  border: 5px solid #E4DBCF;
}

/*logo*/
.logo{
  position: absolute;
  width: 197px;
  height: 53px;
  left: 82px;
  top: 117px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 53px;

  color: #706B69;
}

.search{
  position: absolute;
  width: 190px;
  height: 50px;
  left: 1109px;
  top: 127px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 41px;
  text-align: center;

  color: #8F8F8F;
}

.subjects{
  position: absolute;
  width: 181px;
  height: 34px;
  left: 81px;
  top: 400px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 34px;

  color: #706B69;
}

.math{
  position: absolute;
  width: 68px;
  height: 14px;
  left: 81px;
  top: 466px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 25px;

  color: #7D7B79;
}

.chemistry{
  position: absolute;
  width: 137px;
  height: 16px;
  left: 81px;
  top: 505px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 25px;

  color: #7D7B79;
}

.physics{
  position: absolute;
  width: 99px;
  height: 14px;
  left: 81px;
  top: 546px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 25px;

  color: #7D7B79;
}

.quiz{
  position: absolute;
  width: 170px;
  height: 34px;
  left: 74px;
  top: 631px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 34px;

  color: #706B69;
}

.quizes-done{
  position: absolute;
  width: 181px;
  height: 27px;
  left: 81px;
  top: 690px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 25px;

  color: #7D7B79;
}

.find{
  position: absolute;
  width: 745px;
  height: 101px;
  left: 438px;
  top: 251px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 97px;
  line-height: 107px;
}

.line3{
  position: absolute;
  width: 700px;
  height: 0px;
  left: 476px;
  top: 512px;

  border: 4px solid #706B69;
}

.example{
  position: absolute;
  width: 360px;
  height: 62px;
  left: 480px;
  top: 420px;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 57px;

  color: #C9C9C9;
}


